/* You can add global styles to this file, and also import other style files */

body{
  background-color: grey;
}

.example-container{
  background-color: grey;
}

.sidenav{
  height: 200px;
  background-color: black;
}

mat-drawer-container{
  height: 200px;
  background-color: black;
}

mat-drawer-content {
  border: black;
  padding: 12px;
  display: flex;
  background-color: grey;
  flex-direction: column;
  align-items: flex-start;
}

mat-drawer{
  width: 400px;
  
  padding: 12px;
  display: flex;
  
  align-items: flex-start;
}



.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




